---
import type { Props as StarlightProps } from "@astrojs/starlight/props";
import { MODULE_CODES } from "../../config.mjs";

interface Props {
	entries: StarlightProps["sidebar"];
	depth?: number;
}
const { entries, depth = 0 } = Astro.props;
---

{
	entries.length === 0 ? null : (
		<>
			{depth === 0 ? (
				<section>
					<h3>Common</h3>

					<div class="links-group">
						<a href={"/dimensions-and-units"}>
							<strong>Dimensions & Units</strong>
						</a>
					</div>
				</section>
			) : null}
			{entries.map((item) => {
				if (item.type === "link") {
					if (depth !== 0) {
						return (
							<a href={item.href}>
								<strong>{item.label}</strong>
							</a>
						);
					}
				} else if (item.type === "group") {
					if (item.entries.length == 0) return null;
					return (
						<section>
							{() => {
								if (depth === 0) {
									let moduleCode = undefined;
									if (item.label in MODULE_CODES) {
										moduleCode = MODULE_CODES[item.label];
									}
									if (!moduleCode) return <h3>{item.label}</h3>;

									return (
										<h3>
											{item.label} ({moduleCode})
										</h3>
									);
								} else if (depth === 1) {
									return <h4>{item.label}</h4>;
								} else if (depth === 2) {
									return <h5>{item.label}</h5>;
								} else if (depth === 3) {
									return <h6>{item.label}</h6>;
								}
							}}
							<div class="links-group">
								<Astro.self entries={item.entries} depth={depth + 1} />
							</div>
						</section>
					);
				}
			})}
		</>
	)
}
